<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
  <!-- Barra de Navegación superior -->
  <nav th:replace="fragments/nav"/>
  <div class="container">
    <h2 th:text="#{offer.list.title}"></h2>
    <p th:text="#{offer.list.subtitle}"></p>

    <div class="table-responsive">
      <offers sec:authorize="hasRole('ROLE_STANDARD')" th:replace="fragments/offerslist"/>
    </div>
    <footer th:replace="fragments/pagination"></footer>
  </div>
  <footer th:replace="fragments/footer"/>
</body>
</html>