
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<form th:action="@{/user/deleteusers}" th:object="${usersid}">
    <table class="table table-hover" th:fragment="tableUsers" id="tableUsers">
        <thead>
        <tr>
            <th scope="col" th:text="#{home.user.email}">Email</th>
            <th scope="col" th:text="#{home.user.name}">Nombre</th>
            <th scope="col" th:text="#{home.user.lastname}">Apellido</th>
            <th scope="col" th:text="#{home.user.delete}">Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usersList}" sec:authorize="hasRole('ROLE_ADMIN')">
            <td th:text="${user.email}">example@gmail.com</td>
            <td th:text="${user.name}">Juanito</td>
            <td th:text="${user.lastName}">Sánchez</td>
            <td>
                <input type="checkbox" name="ids" th:value="${user.id}" />
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${#lists.isEmpty(usersList)}" th:text="#{home.user.emptylist}"> No users</div>
    <input th:if="${!#lists.isEmpty(usersList)}" type="submit" value="Delete Users" />
</form>
<footer th:replace="fragments/footer"/>
</body>
</html>