<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container" style="text-align: center">
    <h3 th:text="#{home.message}">Este es tu perfil en MyWallapop</h3>
    <p th:text="#{home.email}" > Email:
        <p class="card-text" th:text="${user.email}" th:remove="tag">example@gmail.com</p>
    </p>

    <p th:text="#{home.amount}"> Monedero:
        <p class="card-text" th:text="${user.amount}" th:remove="tag">53.5€
            <p th:remove="tag"> €</p>
        </p>
    </p>

    <div class="table-responsive" sec:authorize="hasRole('ROLE_ADMIN')">
        <table class="table table-hover" th:fragment="tableUsers" id="tableUsers" sec:authorize="hasRole('ROLE_ADMIN')">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${usersList}" sec:authorize="hasRole('ROLE_ADMIN')">
                <td th:text="${user.email}">example@gmail.com</td>
                <td th:text="${user.name}">Juanito</td>
                <td th:text="${user.lastName}">Sánchez</td>

            </tr>
            </tbody>
        </table>
        <div th:if="${#lists.isEmpty(usersList)}"> No users</div>
    </div>

<!--    <users sec:authorize="hasRole('ROLE_ADMIN')" th:replace="fragments/userslist"/>-->
<!--    <offers th:replace="fragments/offerslist"/>-->

</div>
<footer th:replace="fragments/footer"/>
</body>
</html>